h1 {
    text-align: center;
}

.chicken {
    background-color: #A99F96;
    border: 1px solid black;
    
}

.chicken h3 {
    background-color: #DDA77B;
    border: 1px solid black;
    float:right;
    
}

.chicken div {
    float: ;
}

